body {
    margin: 0px;
}
.bg-red{
    background-color: red;
    color: white;
}
.bg-blue {
    background-color: blue;
    color: white;
}
.bg-gray {
    background-color: gray;
    color: white;
}

.bg-green {
    background-color: green;
    color: white;
}
.inline {
    display: inline;
}

.inline-block {
 display: inline-block;
 width: 300px;
}