p {
    color: blue;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
 h1 {
    color: aqua;
    font-size: 10px;
    font-weight: bold;
 }

 .first-heading {
    color: red;
 }

 #heading-empat {
     color: green;
     font-size: 100px;
 }